<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cosmo/bootstrap.min.css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Slabo&subset=latin,latin-ext" rel="stylesheet" type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </head>
    <body>
        <span style="font-size:40px;cursor:pointer;position: fixed;margin-left:20px;" onclick="openNav()"><strong>&#9776;</strong></span>
        <div class="page-header" class="row">
            <spam class="service_name">
                <div class="col-md-12">
                <h1>
                    <a href="/">
                        <img src="{% static 'image/clap.gif' %}" style="width:150px; border-radius: 50%;"  />
                        <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" class="centered">Movie Go</div>
                    </a>
                </h1>
                </div>
            </spam>
        </div>
        <div class="content container">
            <div class="row">
                <div class="main">
                {% block content %}
                {% endblock %}
                </div>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <section class="login_wrap inbox">
                        <div class="logged_in clearfix">
                            <span>
                                <img src="{% static 'image/hne.jpg' %}" class="profile_image" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);" />
                            </span>
                            <p class="welcome" style="text-align: center;">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'profile' %}" class="nickname" style="text-decoration: none;font-size: 25px;color: #818181;transition: 0.3s;">{{user}}</a>
                                    {% else %}
                                    <span style="text-decoration: none;font-size: 25px;color: #818181;transition: 0.3s;">방문자</span>
                                    {% endif %}
                                님<br>
                                환영합니다.
                            </p>
                            {% if user.is_anonymous %}
                                <a href="{% url 'login' %}" class="nickname" style="text-align: center;">Login</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="nickname" style="text-align: center;">Logout</a>
                            {% endif %}
                            <a href="{% url 'signup' %}" class="nickname" style="text-align: center;">Signup</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>